*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: calc(10px + 0.5vw);
    line-height: 1.2;
}
body {
    font-size: 1rem;
    background: #044;
    color: #ccc;
}
main {
    width: 24em;
    margin: 4em auto;
    padding: 2em;
    border-radius: .25em;
    color: #444;
    background: #eee;
    font-size: 1rem;
}
p,h1,h2,h3,h4,h5 {
    margin-top: .5em;
    margin-bottom: .25em; 
}
p { font-size: 1em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
small { color: #d44; }
input, button {
    display: inline-block;
    width: 100%;
    padding: .5em .75em;
    border-radius: .25em;
    font-size: 1em;
    transition: all .25s;
}
input {
    color: #444;
    background-color: #fff;
    border: 1px solid #ccc;
}
input:focus {
    border-color: #284;
    box-shadow: 0 0 0.2em 0 #000;
}
input[type="radio"], input[type="checkbox"] {
    width: initial;
    margin: 0 .25em;
}
button {
    color: #fff;
    background-color: #0a6;
    border: 1px solid #084;
}
button:hover {
    background-color: #084;
    border-color: #042;
}