*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: calc(10px + 0.5vw);
  line-height: 1.2;
}
body {
  background-color: beige;
  color: navy;
}
main {
  margin: 2em;
}
input {
  padding: 5px;
}
button {
  padding: 5px 20px;
}
hr{
    margin: .5em 0;
}
